body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

/* Contenedor con scroll para tablas anchas */
.table-container {
    width: 100%;
    overflow-x: auto; /* Scroll horizontal si la tabla se desborda */
    margin-top: 20px;
  }
  
  /* Estilo para la tabla */
  .styled-table {
    width: 100%; /* Ocupar el 100% del ancho del contenedor */
    border-collapse: collapse;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    text-align: left;
  }
  
  .styled-table thead tr {
    background-color: #4CAF50;
    color: white;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
    text-align: left; /* Alinear el texto a la izquierda */
    white-space: nowrap; /* Evitar que el texto se quiebre en múltiples líneas */
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  /* Alternar colores de las filas */
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Botón de volver al menú */
  .btn-volver {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .btn-volver:hover {
    background-color: #45a049;
  }
  


  
  #interface {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 25px;
    width: 400px;
    max-width: 90%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  #interface:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  }
  
/* Encabezado */
h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-bottom: 30px;
  }
  
  input[type="password"], input[type="number"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin: 12px 0;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  input[type="password"]:focus, input[type="number"]:focus {
    border-color: #007bff;
    outline: none;
  }
  
  button {
    width: calc(100% - 20px);
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
  }
  
  button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  
  p {
    font-size: 14px;
    color: #555;
  }
  
  #menu-section button {
    margin: 10px 0;
    background-color: #17a2b8;
  }
  
  #menu-section button:hover {
    background-color: #138496;
  }

  
  